<% include ../partials/header %>

<section>
  <form action="/profiles" method="post" novalidate enctype="multipart/form-data">
    <fieldset>
      <legend>Member Information</legend>

      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="John" required>
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Doe" required>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" placeholder="20" required step="1" min="18" max="50">
      </div>

      <div class="form-group">
        <label for="program">Program</label>
        <input type="text" class="form-control" id="age" name="program" placeholder="Computer Programmer" required>
      </div>

      <div class="form-group">
        <label for="autobiography">Autobiography</label>
        <textarea class="form-control" id="autobiography" name="autobiography" placeholder="Autobiography here..." rows="4"></textarea>
      </div>

      <!-- <div class="form-group">
        <img style="border:1px solid gray;width:300px;"  id="preview" src="/images/Pepe_frog.jpg">
        <input type="file" name="image" id="image">
      </div> -->

      <legend>Additional Details</legend>
     
      <div id="additional_details">
        <div class="form-group">
          <button type="button" class="btn btn-success btn-sm" onclick="addSpecForm()">Add
more details</button>
        </div>
        <template id="additional_detail" class="form-inline mb-4">
          <div class="detail">
            <button type="button" class="remove btn btn-danger btn-small"
onclick="delSpecForm(event)">&times;</button>
            <div class="form-group mr-4">
              <label for="detail[key]" class="mr-1">Key</label>
              <input type="text" class="form-control" id="profile_detail_key"
name="detail[key]" placeholder="Websites">
            </div>
            <div class="form-group">
              <label for="detail[value]" class="mr-1">Value</label>
              <input type="text" class="form-control" id="profile_detail_value"
name="detail[value]" placeholder="github.com">
            </div>
          </div>
        </template>
      </div>
    </fieldset>

    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Create Profile</button>
    </div>
  </form>
</section>

<% include ../partials/footer %>
